:root {
    --light: white;
    --dark: #272727;
    --highlight: dodgerblue;
}

a {
    text-decoration: none;
    color: var(--highlight);
}

.header-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: var(--light);
    color: var(--highlight);
    text-decoration: none;
    padding: 20px;
}

.main {
    justify-content: center;
}