:root {
    --light: white;
    --dark: #272727;
    --highlight: dodgerblue;
}

a {
    text-decoration: none;
    color: var(--light);
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: var(--dark);
    color: var(--light);
    text-decoration: none;
}